<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" />
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form> -->



<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" formControlName="email" placeholder="Enter your email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" formControlName="password" placeholder="Enter your password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
  
    <div class="example-full-width">
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>
  </form>